<% provide(:title, @user.name) %>

  <div id="userw">
    <div id="content" class="clearfix">
      <div id="userphoto"><%= gravatar_for @user, size:80 %></div>
      <h1><%=@user.name%></h1>
      <hr class="colorgraph">
      <nav id="profiletabs">
        <ul class="clearfix">
          <li><a href="#bio" class="sel">Bio</a></li>
          <li><a href="#mentors">Mentors</a></li>
          <li><a href="#mentees">Mentees</a></li>
          <li><a href="#reviews">Reviews</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>

      <section id="bio">
        <h4> My background is... </h4>
        <%=@user.background%>
        <h4> I can mentor about... </h4>
        <%=@user.knowledge%>
      </section>

      <section id="mentors" class="hidden">
        <p>Mentors List:</p>
        <h4>Under construction</h4>
        <ul id="friendslist" class="clearfix">
          <li><a href="#"><%= gravatar_for @user, size:22 %></a> Username</li>
          <li><a href="#"><%= gravatar_for @user, size:22 %></a> SomeGuy123</li>
          <li><a href="#"><%= gravatar_for @user, size:22 %></a> PurpleGiraffe</li>
        </ul>
      </section>

      <section id="mentees" class="hidden">
        <p>Mentees List:</p>
        <h4>Under construction</h4>
        <ul id="friendslist" class="clearfix">
          <li><a href="#"><%= gravatar_for @user, size:22 %></a> Username</li>
          <li><a href="#"><%= gravatar_for @user, size:22 %></a> SomeGuy123</li>
          <li><a href="#"><%= gravatar_for @user, size:22 %></a> PurpleGiraffe</li>
        </ul>
      </section>

      <section id="reviews" class="hidden">
        <p>Most recent actions:</p>
        <h4>Under construction</h4>
        <p class="review"> He's such an incredible guy.</p>

        <p class="review"> He told me everything I need to be successful in Google coding interviews.</p>

        <p class="review"> You must talk to him if you're into AI.</p>

        <p class="review"> He's just <strong>amazing</strong>.</p>

      </section>

      <section id="contact" class="hidden">
        <h4>If you want me to mentor you...</h4>
          <%=@user.contact%>
      </section>
    </div><!-- @end #content -->
  </div><!-- @end #w -->
<script type="text/javascript">
$(function(){
  $('#profiletabs ul li a').on('click', function(e){
    e.preventDefault();
    var newcontent = $(this).attr('href');

    $('#profiletabs ul li a').removeClass('sel');
    $(this).addClass('sel');

    $('#content section').each(function(){
      if(!$(this).hasClass('hidden')) { $(this).addClass('hidden'); }
    });

    $(newcontent).removeClass('hidden');
  });
});
</script>