<header class="header-user-dropdown">

  <div class="header-limiter">
    <h1><%= link_to "MentorMatch", root_path%></h1>
    <% if logged_in? %>
      <nav>
        <%= link_to "Find", users_path%>
        <%= link_to "My Page", current_user%>
      </nav>

    <div class="header-user-menu">
      <%= gravatar_for @user, size:30 %>

      <ul>
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
        <li><%= link_to "Log out", logout_path, method: "delete" %></li>
      </ul>
    </div>
    <% else %>
      <div class="header-right main-nav" >
        <%= link_to "Log in", login_path %>
      </div>
    <% end %>
  </div>

</header>